.signInContainer {
    display: flex;
    flex-flow: column;
}

.textFieldClass {
    text-align: center;
    margin-bottom: 5px;
}

.btns {
    width: 200px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;    
}

a {
    margin-top: 10px;
    text-decoration: none;
    color: green;
    font-size: 17px;
    font-family: 'Effra';
    font-weight: 400;
}