.App {
  margin: auto;
}

.box {
  display: flex;
  justify-content: space-around;
}

h1 {
  font-family: "Effra";
  font-weight: bold;
  font-size: 20px;
  margin: auto;
  padding: 20px 0 50px;
  text-align: center;
}